// main.scss

@use 'variables' as v;
@use 'layout' as *;
@use 'mixin' as m;

.header {

    height: 62px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: v.$c-white;

    @include m.mq(pc) {
        position: fixed;
        top: 0;
        left: 0;
        max-width: 100%;
        z-index: 1000;
        background-color: v.$c-white;
        height: 90px;
    }

    &__logo {
        margin-top: 11px;
        margin-left: 2%;

        @include m.mq(pc) {
            margin: 0;
            width: 100%;
            height: auto;
        }
    }

    &_logo_pc {
        width: 100%;
        height: auto;
        display: block;

        @include m.mq(pc) {
            max-width: 99px;
            width: 100%;
            height: auto;
            display: block;
        }
    }

    &__inner {
        display: flex;
        justify-content: space-around;
        padding: 0;


        @include m.mq(pc) {
            justify-content: flex-start;
            padding-top: 1.2%;
        }
    }

    &__actions {
        display: flex;
        align-items: center;
        max-width: 290px;
        gap: 5%;
        justify-content: flex-end;
        max-width: 1030px;
        margin-top: 10px;

        @include m.mq(pc) {
            margin-top: 0;
            margin-left: 22px;
            gap: 4.2%;
            font-size: 21.12px;
            width: 100%;
            justify-content: flex-start;
        }
    }

    &__btn {
        font-size: v.$btn-head-font-sp;
        border-radius: v.$btn-head-radius-sp;
        color: v.$c-white;
        font-size: v.$btn-head-font-sp;
        height: 31px;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        white-space: nowrap;

        @include m.mq(pc) {
            font-size: v.$btn-head-font-pc;
            border-radius: v.$btn-head-radius-pc;
            font-size: v.$btn-head-font-pc;
            align-items: center;
            height: 50.36px;
        }


        &--contact {
            background-color: v.$c-pink;
            width: 37.896%;
            padding: 6px 5px;

            @include m.mq(pc) {
                width: 233px;
                padding: 1.9% 1.3% 2.8% 4.5%;
            }

            .bi-chevron-right {
                margin-left: 7px;
            }
        }

        &--reserve {
            background-color: v.$c-green;
            width: 61.655%;
            padding: 8px 14px;

            @include m.mq(pc) {
                width: 100%;
                padding: 9px 3px 10px 8px;
            }
        }

    }
}

.bi-chevron-right {
    margin-left: 8px;
}

.header__btn--reserve .bi-chevron-right {
    @include m.mq(pc) {
        margin-left: 0px;
    }
}

.btn__free {

    font-size: 10px;

    @include m.mq(pc) {
        font-size: 18.87px;
    }
}

.mv {
    padding-top: 60px;

    @include m.mq(pc) {
        padding-top: 91px;
    }

    &__img {
        position: relative;
        aspect-ratio: 40 / 32;
        overflow: hidden;

        @include m.mq(pc) {
            aspect-ratio: 120 / 51;
        }

        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__inner {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding: 0 0 0 1.7%;

        @include m.mq(pc) {
            padding: 0 15%;
        }
    }

    &__first {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-wrap: wrap;

        @include m.mq(pc) {
            margin: 0;
            width: 98%;
        }

        &-left {
            flex: 38%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 3.4% 0;


            @include m.mq(pc) {
                line-height: 0.9;
                margin-left: 2.1%;
                flex: 41%;
                padding: 3.4% 0;
            }
        }

        &-right {
            flex: 36%;
            background-color: rgba(255, 255, 255, 0.3);
            text-align: center;
            font-weight: bold;
            position: relative;
            letter-spacing: 3.5px;
            overflow: hidden;
            display: flex;
            flex-direction: column;
            line-height: 1.2;
            padding: 4.2% 0 4.6% 0;

            @include m.mq(pc) {
                padding: 1.8% 0 4.9% 0;
                flex: 28%;
            }


            &-inner {
                padding-left: 5%;
                display: flex;
                column-gap: 7%;
                justify-content: center;
                align-items: center;

                @include m.mq(pc) {
                    column-gap: 6%;
                    padding-left: 0;
                }
            }

            &-text {
                line-height: 1;
            }
        }

        &-month {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex-direction: column;
            row-gap: 5px;

            @include m.mq(pc) {
                row-gap: 18px;
                margin-top: 5%;
            }
        }

    }

    &__now {
        font-size: clamp(13px, 1.7vw, 13px);
        padding: 4px 3px 7px 4px;
        display: block;
        font-weight: bold;
        background-color: v.$c-white;
        color: #fa7da3;
        letter-spacing: 0;

        @include m.mq(pc) {
            font-size: 1.9vw;
            letter-spacing: 1.5px;
            padding: 7px 8px 11px 12px;
        }
    }

    &__first-month-letter {
        font-size: clamp(22px, 5vw, 24px);
        letter-spacing: 0;

        @include m.mq(pc) {
            font-size: clamp(40px, 3.4vw, 54px);
            letter-spacing: 2.4px;
            white-space: normal;
            margin-left: 10px;
        }
    }


    &__title {
        font-size: 9.8vw;
        letter-spacing: 4.4px;
        font-weight: 400;
        text-align: center;
        line-height: 1.4;
        white-space: nowrap;

        @include m.mq(pc) {
            margin-top: -5%;
            max-width: 530px;
            font-size: clamp(50px, 8.2vw, 112.15px);
            letter-spacing: 10px;
        }
    }

    &__title-sub {
        font-size: 4.5vw;
        padding-left: 18.6%;

        @include m.mq(pc) {
            font-size: 2.6vw;
            text-align: end;
            letter-spacing: -1.3px;
            margin-right: 2%;

        }
    }

    &__second {
        text-align: right;
        font-size: 14px;
        font-family: 'Outfit', sans-serif;
        margin-right: 6.6%;

        @include m.mq(pc) {
            font-size: 1.8vw;
            margin-right: 8.1%;
            margin-top: -6px;
        }
    }

    &__third {
        margin-top: 5.3%;
        margin-right: 7%;

        @include m.mq(pc) {
            margin-right: 1.7%;
            margin-top: 3.9%;
            height: 260px;
        }

        &-list {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            row-gap: 12px;
            text-align: center;

            @include m.mq(pc) {
                row-gap: 21.7px;
            }

        }

        &-item {
            border: 1px solid white;
            font-size: 18px;
            width: 37%;
            height: 35px;
            display: flex;
            justify-content: center;
            align-items: center;
            letter-spacing: 0;
            font-weight: 400;

            @include m.mq(pc) {
                max-height: 67px;
                width: 43%;
                letter-spacing: 0.2px;
                font-size: min(1.9vw, 27px);
                padding: 3.3% 0;
            }
        }
    }
}


.month {
    font-size: 9px;

    @include m.mq(pc) {
        font-size: 1.2vw;
    }
}

.free-0 {
    color: v.$c-yellow;
    font-size: clamp(36px, 18.7vw, 76px);

    @include m.mq(pc) {
        font-size: clamp(60px, 11vw, 171px);
        white-space: normal;
    }
}

.free-0-yen {
    color: v.$c-yellow;
    font-size: clamp(18px, 8.7vw, 36px);

    @include m.mq(pc) {
        font-size: clamp(30px, 6vw, 81px);
        white-space: normal;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .free-0 {
        font-size: clamp(60px, 9vw, 110px);
    }

    .free-0-yen {
        font-size: clamp(30px, 4vw, 55px);
    }

    .mv__first {
        flex-wrap: wrap;
        gap: 16px;
    }

    .mv__first-month-letter {
        font-size: clamp(22px, 4vw, 30px);
    }
}

.campaign {
    background-color: v.$c-cream;
    color: v.$c-pink;
    text-align: center;
    padding: 26px 4.871% 12px 5.384%;


    @include m.mq(pc) {
        padding-top: 50px;
        padding-bottom: 26px;
        padding: 26px 4.871% 24px 6.384%;
    }


    &__box {
        border: solid 1px v.$c-pink;
        border-radius: 10px;
        height: 97px;

        @include m.mq(pc) {
            margin-bottom: 14px;
            height: 148px;
            width: 97%;
        }
    }

    &__title {
        font-size: 21.2px;
        height: 32px;
        background-color: v.$c-pink;
        color: v.$c-white;
        border-radius: 10px 10px 0 0;
        display: flex;
        align-items: center;
        justify-content: center;

        @include m.mq(pc) {
            font-size: 32px;
            height: 48px;
            letter-spacing: 0.1px;
            padding-right: 7px;
        }
    }

    &__title-02 {
        font-size: 27px;
        background-color: v.$c-white;
        border-radius: 0 0 10px 10px;
        height: 64px;
        display: flex;
        align-items: baseline;
        justify-content: center;
        padding-top: 5px;
        letter-spacing: 0.3px;
        padding-left: 3%;

        @include m.mq(pc) {
            font-size: 43.67px;
            height: 98px;
            letter-spacing: -0.1px;
            margin-top: 0;
            margin-left: 0;
            padding-top: 10px;
            padding-left: 2.5%;
        }
    }

    &__strong {
        font-size: 42px;
        font-weight: 600;
        line-height: 1;

        @include m.mq(pc) {
            font-size: 67.93px;
        }
    }

    &__note {
        color: v.$c-black;
        font-size: 10px;
        margin-top: 4px;
        letter-spacing: 0.1px;

        @include m.mq(pc) {
            font-size: 14px;
            margin-left: -23px;
        }
    }
}

.campaign__highlight {
    position: relative;
    font-size: 21px;
    margin-bottom: 14px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    line-height: 1;
    color: v.$c-pink;

    @include m.mq(pc) {
        margin-bottom: 24px;
        font-size: 33px;
        margin-top: 22px;
        margin-left: -3.2%;
        letter-spacing: -0.4px;
    }

    &::before,
    &::after {
        content: "";
        width: 28px;
        height: 2px;
        background-color: v.$c-pink;
        position: absolute;
        top: 60%;
        transform: translateY(-45%);

        @include m.mq(pc) {
            width: 45px;
            height: 3px;
            top: 50%;
            transform: translateY(-50%);
        }
    }

    &::before {
        left: 32%;
        transform: translateY(-50%) rotate(55deg);


        @include m.mq(pc) {
            left: 32%;
            transform: translateY(-50%) rotate(60deg);
        }
    }

    &::after {
        right: 32%;
        transform: translateY(-50%) rotate(-55deg);

        @include m.mq(pc) {
            right: 32%;
            transform: translateY(-50%) rotate(-60deg);
        }
    }
}

.emphasis {
    @include m.mq(pc) {
        margin-left: 14px;
    }

}




.trial {
    text-align: center;
    font-size: 21px;

    @include m.mq(pc) {
        font-size: 34px;
    }

    &-01 {
        margin-top: 14px;
        margin-bottom: 30px;

        @include m.mq(pc) {
            margin-top: 48px;
            margin-bottom: 46px;
        }
    }

    &-02 {
        margin-top: 24px;
        margin-bottom: 43px;

        @include m.mq(pc) {
            margin-top: 47px;
            margin-bottom: 51px;
        }
    }

    &-03 {
        margin-bottom: 42px;

        @include m.mq(pc) {
            margin-bottom: 63px;
        }
    }

    &__highlight {
        color: v.$c-pink;
        font-weight: 600;
        letter-spacing: 2.5px;
        margin: 0 0 4px 3%;

        @include m.mq(pc) {
            margin-bottom: 10px;
        }

        &-02 {
            @include m.mq(pc) {
                margin-bottom: 11px;
            }
        }
    }

    &__box {
        padding: 0 4.871% 0 5.384%;
        height: 80px;
        display: flex;
        justify-content: center;
        align-items: center;

        @include m.mq(pc) {
            height: 130.1px;
            max-width: 570px;
            padding: 0;
        }
    }

    &__box-bi {
        width: 100%;
    }

    &__btn {
        font-weight: bold;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        background-color: v.$c-green;
        border-radius: 65.05px;
        line-height: 1.3;
        padding-left: 12%;
        letter-spacing: 2px;

        @include m.mq(pc) {
            height: 131px;
            max-width: 570px;
            letter-spacing: 3.8px;
        }

        &:hover {
            @include m.mq(pc) {
                background-color: #40e02f;
            }
        }

        &-text01 {
            padding-top: 12px;

            @include m.mq(pc) {
                padding-left: 0;
                padding-top: 0;
            }
        }

        &-text02 {
            padding-bottom: 12px;
        }

        a {
            color: v.$c-white;
        }
    }


    &__details {
        max-width: 360px;
        margin: 0 auto;

        @include m.mq(pc) {
            max-width: 570px;
        }
    }

    &__text {
        color: v.$c-blue;
        font-size: 17px;
        border-top: 1px solid v.$c-blue;
        border-bottom: 1px solid v.$c-blue;
        text-align: center;
        font-weight: 600;
        padding-top: 6px;
        padding-bottom: 3px;
        letter-spacing: 1.8px;

        @include m.mq(pc) {
            font-size: 28px;
            padding-top: 6px;
            padding-bottom: 8px;
        }
    }

    &__box-02 {
        margin-top: 10px;
        margin-bottom: 36px;
        margin-left: 6px;

        @include m.mq(pc) {
            margin-top: 14px;
            margin-bottom: 54px;
            margin-left: 0;
        }
    }

    &__item {
        font-size: 14px;
        letter-spacing: -0.1px;

        @include m.mq(pc) {
            font-size: 22.86px;
            letter-spacing: -0.2px;
        }
    }

    &-small {
        font-size: 11px;

        @include m.mq(pc) {
            font-size: 17.96px;
        }
    }
}



.right {
    margin-left: 4.657%;

    @include m.mq(pc) {
        margin-right: -2%;
        margin-left: 5.7%;
    }
}

.bi-chevron-right {
    color: v.$c-white;
}

.point {
    background-color: v.$c-lightpink;
    text-align: center;

    &__inner-box {
        max-width: 780px;
        margin: 0 auto;
    }

    &-logo {
        padding-top: 28px;
        margin-bottom: 20px;
        position: relative;

        @include m.mq(pc) {
            padding-top: 43px;
            margin-bottom: 42px;
        }
    }

    &--1 {
        margin-bottom: 31px;

        @include m.mq(pc) {
            margin-bottom: 48px;
        }
    }

    &--2 {
        margin-bottom: 27px;

        @include m.mq(pc) {
            margin-bottom: 47px;
        }
    }

    &--3 {
        padding-bottom: 30px;

        @include m.mq(pc) {
            padding-bottom: 63px;
        }
    }

    &__title {
        display: flex;
        justify-content: center;
    }

    &__title-02 {
        font-size: 18px;
        display: flex;
        margin-top: 0.6%;
        margin-left: 0.8%;

        @include m.mq(pc) {
            font-size: 18.07px;
            margin-top: 0.5%;
            margin-left: 0.8%;
        }
    }

    &__title-03 {

        margin-top: -4px;

        @include m.mq(pc) {
            margin-top: 3px;

        }
    }


    &__box {
        max-width: 350px;
        margin: 0 auto;

        @include m.mq(pc) {
            max-width: 780px;
        }
    }

    &__item {
        font-size: 18px;
        height: 45.92px;
        background-color: v.$c-pink;
        color: v.$c-white;
        border-radius: 10px 10px 0 0;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 400;

        @include m.mq(pc) {
            font-size: 28px;
            height: 74px;
        }
    }

    &__inner {
        padding: 12px 20px 16px 20px;
        border: solid 1px v.$c-pink;
        border-radius: 0 0 10px 10px;
        line-height: 1.6;
        background-color: v.$c-white;

        @include m.mq(pc) {
            padding: 22px 39px 34px 41px;
        }

        &-02 {
            padding: 12px 15px 16px 20px;

            @include m.mq(pc) {
                padding: 26px 1.5% 34px 5%;
            }
        }

        &-03 {
            padding: 14px 20px 14px 20px;
            line-height: 1.6;

            @include m.mq(pc) {
                padding: 27px 39px 25px 41px;
            }
        }
    }

    &__description {
        margin-bottom: 12px;
        text-align: left;
        font-size: 14px;
        letter-spacing: -0.6px;

        @include m.mq(pc) {
            font-size: 21px;
            letter-spacing: 0.1px;
            margin-bottom: 21px;
            margin-right: 8px;
        }

        &-02 {
            margin-bottom: 16px;
            text-align: left;
            font-size: 14px;
            letter-spacing: 0;

            @include m.mq(pc) {
                letter-spacing: 0.1px;
                margin-left: 3px;
                margin-bottom: 18px;
                font-size: 21px;
            }
        }

        &-03 {
            letter-spacing: 0;
            margin-bottom: 0;

            @include m.mq(pc) {
                margin-bottom: 0;
            }
        }

    }

    &__example {
        display: flex;
        justify-content: space-between;
        column-gap: 10px;
        max-width: 310px;

        @include m.mq(pc) {
            max-width: 510px;
            column-gap: 41px;
            margin: 0 auto;
        }
    }
}

.star-left {
    position: absolute;
    left: 12.2%;
    top: 56%;

    @include m.mq(pc) {
        left: 24.9%;
        top: 58%;
    }

    &-2 {
        position: absolute;
        top: 41%;
        left: 11%;

        @include m.mq(pc) {
            left: 25.9%;
            top: 41%;
        }
    }

    &-3 {
        position: absolute;
        left: 15%;
        top: 37%;

        @include m.mq(pc) {
            left: 37.5%;
            top: 36.4%;
        }
    }
}

.star-right {
    position: absolute;
    right: 12.2%;
    top: 56%;

    @include m.mq(pc) {
        right: 24.9%;
        top: 58%;
    }

    &-2 {
        position: absolute;
        top: 41%;
        right: 12%;

        @include m.mq(pc) {
            right: 25.3%;
            top: 43%;
        }
    }

    &-3 {
        position: absolute;
        top: 36%;
        right: 16%;

        @include m.mq(pc) {
            right: 37.5%;
            top: 37.3%;
        }
    }
}

.frequency {
    font-size: 14px;
    margin-top: 3px;

    @include m.mq(pc) {
        font-size: 21px;
        margin-top: 8.6px;
    }
}

.right-name {
    border: solid 1px v.$c-black;
    background-color: v.$c-lightpink;
    width: 143px;
    height: 85px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 19px;

    @include m.mq(pc) {
        font-size: 29.43px;
        width: 233px;
        height: 140px;
        background-color: v.$c-white;
    }
}

.plan {

    &__name {
        font-size: 23px;
        margin-bottom: 25px;

        @include m.mq(pc) {
            margin-bottom: 20px;
            margin-left: -23px;
            letter-spacing: 1px;
        }

        &-02 {
            margin-top: 42px;
            margin-bottom: 24px;

            @include m.mq(pc) {
                margin-top: 53px;
            }
        }
    }

    &__part {
        margin-top: 5px;
        color: v.$c-pink;
        font-size: 14px;

        @include m.mq(pc) {
            margin-top: 2px;
        }
    }

    &__inner {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 18px 12px;
        margin-left: -6px;

        @include m.mq(pc) {
            display: flex;
            margin-left: 2.3%;
        }
    }

    &__item {
        text-align: center;
    }
}

.course {
    max-width: 100%;
    padding: 0 4.871% 0 5.384%;
    margin: 0 auto;

    @include m.mq(pc) {
        max-width: 731px;
        padding: 0;
    }

    &__list {
        display: flex;
        flex-direction: column;
        row-gap: 32px;
        margin-top: 25px;
        margin-bottom: 20px;
        align-items: center;

        @include m.mq(pc) {
            flex-direction: row;
            column-gap: 32px;
            margin-top: 36px;
            margin-bottom: 61px;
        }
    }

    &--body {
        border: solid 1px v.$c-pink;
        border-radius: 10px;
        max-width: 350px;
        width: 100%;
    }

    &--facial {
        border: solid 1px v.$c-pink;
        border-radius: 10px;
        max-width: 350px;
        width: 100%;
    }

    &__title-front {
        font-size: 18px;
        margin-bottom: 0;

        @include m.mq(pc) {
            margin-bottom: 5px;
            font-size: 23px;
            letter-spacing: 1.3px;
            margin-left: 7px;
        }
    }

    &__inner {
        padding: 11px 20px 20px 20px;

        @include m.mq(pc) {
            padding: 11px 1.4% 20px 5.8%;

        }

        &-02 {
            @include m.mq(pc) {
                padding: 9px 1% 20px 5.8%;
            }
        }
    }


    &__title {
        font-size: 17.8px;
        background-color: v.$c-lightpink;
        border-radius: 10px 10px 0 0;
        color: v.$c-pink;
        text-align: center;
        height: 45px;
        padding-top: 6px;
        letter-spacing: 0.4px;
        padding-bottom: 2px;

        @include m.mq(pc) {
            font-size: 27.8px;
            height: 60px;
            padding-top: 5px;
            padding-bottom: 0;
        }
    }


    &__description {
        margin-bottom: 10px;
        font-size: 14px;
        letter-spacing: 0;
        line-height: 1.6;

        @include m.mq(pc) {
            font-size: 17.3px;
            line-height: 1.5;
            margin-bottom: 14px;
            letter-spacing: 0.8px;
            line-break: anywhere;
        }

        &-02 {
            margin-bottom: 10px;
            letter-spacing: 0;
            line-height: 1.6;

            @include m.mq(pc) {
                font-size: 17.3px;
                line-height: 1.5;
                margin-bottom: 14px;
                letter-spacing: 0.8px;

            }
        }
    }
}



.break {
    display: inline;

    @include m.mq(pc) {
        &::before {
            content: "";
            display: block;
        }
    }
}


.point__strong {
    font-size: 32px;
    color: v.$c-pink;
    letter-spacing: 1.4px;

    @include m.mq(pc) {
        font-size: 40.9px;
    }
}

.title__box {
    text-align: center;
    line-height: 1.6;
    position: relative;
}

.voices {
    background-color: v.$c-lightpink;
    margin-bottom: 29px;

    @include m.mq(pc) {
        padding-bottom: 33px;
        margin-bottom: 48px;
    }

    &-slick {
        margin-top: 17px;

        @include m.mq(pc) {
            margin-top: 32px;
        }

    }

    &__box {
        overflow: visible;

        @include m.mq(pc) {
            max-width: 980px;
            margin-left: auto;
            margin-right: auto;
            width: 100%;
            margin-top: 30px;
        }

        &__item {
            display: flex;
            flex-direction: column;
            justify-content: stretch;
            box-sizing: border-box;
            width: 310px;
            border: solid 1px v.$c-pink;
            border-radius: 10px;
        }


        &--right {
            flex: 2;
            margin: 3.838% 0% 0.225% 3.838%;
        }
    }

    &__title {
        color: v.$c-pink;
        text-align: center;
        padding-top: 24px;
        position: relative;

        @include m.mq(pc) {
            padding-top: 30px;
        }
    }

    &__strong {
        font-size: 31.89px;
        font-weight: bold;
        position: relative;

        @include m.mq(pc) {
            font-size: 3vw;
        }
    }


    &__content {
        font-size: 18.01px;
        height: 45.92px;
        background-color: v.$c-pink;
        color: v.$c-white;
        border-radius: 10px 10px 0 0;
        display: flex;
        align-items: center;
        justify-content: center;

        @include m.mq(pc) {
            height: 44px;
            font-size: 17.6px;
            letter-spacing: 0.3px;
        }
    }

    &__inner {
        padding: 0 3.525% 0 3.725%;
        display: flex;
        flex-grow: 1;
        justify-content: space-between;

        @include m.mq(pc) {
            padding: 0 3.525% 0.7% 3.725%;
        }
    }

    &__img {
        flex: 1;
        margin: 4.516% 0 10px 3%;
        height: auto;
        width: 86px;
    }

    &__name {
        font-size: 16px;
        color: v.$c-pink;
        white-space: nowrap;
        margin-bottom: 3px;
    }

    &__text {
        font-size: 14.01px;
        line-height: 1.5;
    }

}

.voices__box .slick-slide {
    height: auto;
    margin: 0 0.06%;
    width: 310px;

    @include m.mq(pc) {
        margin: 0 0.8%;
    }
}


.slick-dots {
    display: flex !important;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
    list-style: none;
    padding: 0;
}

.slick-dot {
    background: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
}

.slick-dot span {
    display: block;
    width: 3%;
    height: 30px;
    background-color: v.$c-lightpink;
    border-radius: 50%;
    transition: background-color 0.3s;
}

.slick-active .slick-dot span {
    background-color: v.$c-pink;
}

.custom-dots {
    display: flex;
    justify-content: center;
    margin-top: 21px;
    gap: 15px;
    padding-bottom: 15px;
}

.custom-dots button {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #ffd2d2;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.custom-dots button.active {
    background-color: v.$c-pink;
}



.slick-track {
    display: flex;
    align-items: stretch;
}


.footer {
    background-color: v.$c-pink;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 64px;

    @include m.mq(pc) {
        height: 130px;
    }

    &__logo {
        text-align: center;
    }
}